# Visual Studio / Rider
.idea/
/bin/
/obj/
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]uild/
[Aa]rtifacts/

# Rider
/.idea/
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml

# Other
/httpRequests/
/dataSources/
/dataSources.local.xml
*.log
*.DS_Store
